*{
    margin: 0;
    padding: 0;
}
@font-face{
    src: url(../fonts/Merriweather/Merriweather-Regular.ttf);
    font-family: 'Merriweather-Regular';
}
@font-face{
    src: url(../fonts/Montserrat/Montserrat-ExtraLight.ttf);
    font-family: 'Monserrat';
}
body{
    background-color: #ff9a8d;
}
h1{
    color: white;
    font-family:'Merriweather-Regular';
    font-size: 4em;
    text-shadow: 4px 4px 6px black;
    background-color: #aed6dc;
    padding-left: 150px;
    padding-right: 150px;
}
h2{
    font-family: 'Monserrat';
    color: teal;
    font-weight: 600;
    font-size: 36px;
    padding: 20px;
}
h3{
    font-family: 'Monserrat';
    color: skyblue;
    font-weight: 600;
    font-size: 36px;
    padding: 20px;
}
.container{
    text-align: center;
}
#clickMe{
    background-color: rgb(18, 169, 230);
    font-family: 'Merriweather';
    border: rgb(8, 175, 241);
    color: white;
    border-radius: 20px;
    font-size: 20px;
    width: 100px;
    margin: 10px;
}
.box{
    border: 1px solid white;
    background-color: white;
    padding: 20px;
    margin: 30px 300px;
}
p{
    font-family: 'Monserrat';
    color: grey;
    font-weight: 600;
    font-size: 36px;
    padding: 20px;
}